- Project.all.each do |project|
  %div.well
    %h3= "#{project.name} - #{project.pivotal_id}"
    - project.iterations.each do |iteration|
      %div.well
        %h4= "#{project.name} - #{iteration.date_range}"

        %ol
          - iteration.stories.find_each do |story|
            %li= link_to "#{project.name} - #{story.name}", story.url, target: "_blank"