%div.row-fluid
  - team.states.shown.each do |state|
    %div.span2
      %h5.status-labels= state.name.upcase
      
      - @iterations.each do |iteration|
        - iteration.stories.by_state(state).each do |story|
          %div.story-box{class: "story-box #{story.owner.try(:slug)}-bg"}
            %div.top
              %h5= link_to story.name, story.url, target: "_blank"
            %div.bottom
              %div.row-fluid
                %div.span12
                  %div.pull-left
                    %h6= link_to story.project.name, story.project.url, target: "_blank"
                  %div.pull-right
                    %h6= story.story_type.name